.gradient-background {
    background: linear-gradient(300deg, #13274F,#13274F);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .navbar-brand {
    color: white;
  }

  .nav-link {
    color: white;
  }

  .codingimage {
    height: 5vh;
    width: 5vh;
    align-self: end;
    margin-right: 50px;
  }

  #right {
    text-align: right;
  }
  .top-section {
    background-color:#13274F;
  }

  #center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
  }
  .img-fluid {
    width: 120vh;
    height: auto;
  }

  .text-center {
    color: white;
  }

  .joeimage {
    height: auto;
    width: auto;
    border-radius:5%;
  }

  .heading {
    color: #13274F !important; /* This style will take precedence over other conflicting styles */
  }

  .btn-primary {
    background-color:#13274F  !important;
  }

  .iconimage {
    width: 100px;
    height: 100px;
  }

  .contact-me {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .phone {
    width: 25px;
    height: 25px;
  }


  @media (min-width:1400px){
    .skills {
      padding-left: 140px;
    }
     }